/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.btn.btn-rounded {
  border-radius: 50px
}

.modal-form-footer {
  justify-content: flex-start !important;
}

.nowrap {
  white-space: nowrap;
}

.nowrapped-truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.textCenter {
  text-align: center;
}

.toRight {
  float: right
}

.draggable {
  cursor: grab;
}
