<div id="layout-config" class="layout-config" [ngClass]="{ 'layout-config-active': appMain.configActive }" (click)="appMain.onConfigClick($event)">
  <a style="cursor: pointer" id="layout-config-button" class="layout-config-button" (click)="onConfigButtonClick($event)">
    <i class="pi pi-cog"></i>
  </a>
  <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text layout-config-close" (click)="onConfigButtonClick($event)"></button>
  <div class="layout-config-content">
    <h6 class="mt-0">Component Scale</h6>
    <div class="config-scale">
      <button pButton pRipple type="button" icon="pi pi-minus" (click)="decrementScale()" class="p-button-rounded p-button-text" [disabled]="scale === scales[0]"></button>
      <i *ngFor="let item of scales" class="pi pi-circle-fill" [ngClass]="{ 'scale-active': item === scale }"></i>
      <button pButton pRipple type="button" icon="pi pi-plus" (click)="incrementScale()" class="p-button-rounded p-button-text" [disabled]="scale === scales[scales.length - 1]"></button>
    </div>

    <h6>Input Style</h6>
    <div class="p-formgroup-inline">
      <div class="field-radiobutton">
        <p-radioButton name="inputStyle" value="outlined" [(ngModel)]="config.inputStyle" (onClick)="onInputStyleChange()" inputId="inputStyle1"></p-radioButton>
        <label for="inputStyle1">Outlined</label>
      </div>
      <div class="field-radiobutton">
        <p-radioButton name="inputStyle" value="filled" [(ngModel)]="config.inputStyle" (onClick)="onInputStyleChange()" inputId="inputStyle2"></p-radioButton>
        <label for="inputStyle2">Filled</label>
      </div>
    </div>

    <h6>Ripple Effect</h6>
    <p-inputSwitch [ngModel]="config.ripple" (onChange)="onRippleChange($event.checked)"></p-inputSwitch>

    <h6>Menu Type</h6>
    <div class="p-formgroup-inline">
      <div class="field-radiobutton">
        <p-radioButton name="menuType" value="static" [(ngModel)]="app.menuMode" (onClick)="appMain.isStatic()" inputId="menuType1"></p-radioButton>
        <label for="menuType1">Static</label>
      </div>
      <div class="field-radiobutton">
        <p-radioButton name="menuType" value="overlay" [(ngModel)]="app.menuMode" (onClick)="appMain.isOverlay()" inputId="menuType2"></p-radioButton>
        <label for="menuType2">Overlay</label>
      </div>

      <h6>Bootstrap</h6>
      <div class="grid free-themes">
        <div class="col-3 text-center">
          <!--
          <button class="p-link" (click)="changeTheme('bootstrap4-light-blue', false)">
          -->
          <button class="p-link" (click)="changeThemeFromAssets('bootstrap4-light-blue', false)">
            <img src="../../../assets/layout/images/themes/bootstrap4-light-blue.svg" alt="Bootstrap Light Blue" title="Bootstrap Light Blue"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('bootstrap4-light-purple', false)">
            <img src="../../../assets/layout/images/themes/bootstrap4-light-purple.svg" alt="Bootstrap Light Purple" title="Bootstrap Light Purple"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('bootstrap4-dark-blue', true)">
            <img src="../../../assets/layout/images/themes/bootstrap4-dark-blue.svg" alt="Bootstrap Dark Blue" title="Bootstrap Dark Blue"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('bootstrap4-dark-purple', true)">
            <img src="../../../assets/layout/images/themes/bootstrap4-dark-purple.svg" alt="Bootstrap Dark Purple" title="Bootstrap Dark Purple"/>
          </button>
        </div>
      </div>

      <h6>Material Design</h6>
      <div class="grid free-themes">
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('md-light-indigo', false)">
            <img src="../../../assets/layout/images/themes/md-light-indigo.svg" alt="Material Light Indigo" title="Material Light Indigo"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('md-light-deeppurple', false)">
            <img src="../../../assets/layout/images/themes/md-light-deeppurple.svg" alt="Material Light DeepPurple" title="Material Light DeepPurple"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('md-dark-indigo', true)">
            <img src="../../../assets/layout/images/themes/md-dark-indigo.svg" alt="Material Dark Indigo" title="Material Dark Indigo"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('md-dark-deeppurple', true)">
            <img src="../../../assets/layout/images/themes/md-dark-deeppurple.svg" alt="Material Dark DeepPurple" title="Material Dark DeepPurple"/>
          </button>
        </div>
      </div>

      <h6>Material Design Compact</h6>
      <div class="grid free-themes">
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('mdc-light-indigo', false)">
            <img src="../../../assets/layout/images/themes/md-light-indigo.svg" alt="Material Light Indigo" title="Material Light Indigo"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('mdc-light-deeppurple', false)">
            <img src="../../../assets/layout/images/themes/md-light-deeppurple.svg" alt="Material Light DeepPurple" title="Material Light DeepPurple"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('mdc-dark-indigo', true)">
            <img src="../../../assets/layout/images/themes/md-dark-indigo.svg" alt="Material Dark Indigo" title="Material Dark Indigo"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('mdc-dark-deeppurple', true)">
            <img src="../../../assets/layout/images/themes/md-dark-deeppurple.svg" alt="Material Dark DeepPurple" title="Material Dark DeepPurple"/>
          </button>
        </div>
      </div>

      <h6>Tailwind</h6>
      <div class="grid free-themes">
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('tailwind-light', false)">
            <img src="../../../assets/layout/images/themes/tailwind-light.png" alt="Tailwind Light" title=""/>
          </button>
        </div>
      </div>

      <h6>Fluent UI</h6>
      <div class="grid free-themes">
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('fluent-light', false)">
            <img src="../../../assets/layout/images/themes/fluent-light.png" alt="Fluent Light" title="Fluent Light"/>
          </button>
        </div>
      </div>

      <h6>PrimeOne Design - 2022</h6>
      <div class="grid free-themes">
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('lara-light-indigo', false)">
            <img src="../../../assets/layout/images/themes/lara-light-indigo.png" alt="Lara Light Indigo" title="Lara Light Indigo"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('lara-light-blue', false)">
            <img src="../../../assets/layout/images/themes/lara-light-blue.png" alt="Lara Light Blue" title="Lara Light Blue"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('lara-light-purple', false)">
            <img src="../../../assets/layout/images/themes/lara-light-purple.png" alt="Lara Light Purple" title="Lara Light Purple"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('lara-light-teal', false)">
            <img src="../../../assets/layout/images/themes/lara-light-teal.png" alt="Lara Light Teal" title="Lara Light Teal"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('lara-dark-indigo', true)">
            <img src="../../../assets/layout/images/themes/lara-dark-indigo.png" alt="Lara Dark Indigo" title="Lara Dark Indigo"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('lara-dark-blue', true)">
            <img src="../../../assets/layout/images/themes/lara-dark-blue.png" alt="Lara Dark Blue" title="Lara Dark Blue"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('lara-dark-purple', true)">
            <img src="../../../assets/layout/images/themes/lara-dark-purple.png" alt="Lara Dark Purple" title="Lara Dark Purple"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('lara-dark-teal', true)">
            <img src="../../../assets/layout/images/themes/lara-dark-teal.png" alt="Lara Dark Teal" title="Lara Dark Teal"/>
          </button>
        </div>
      </div>

      <h6>PrimeOne Design - 2021</h6>
      <div class="grid free-themes">
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('saga-blue', false)">
            <img src="../../../assets/layout/images/themes/saga-blue.png" alt="Saga Blue" title="Saga Blue"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('saga-green', false)">
            <img src="../../../assets/layout/images/themes/saga-green.png" alt="Saga Green" title="Saga Green"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('saga-orange', false)">
            <img src="../../../assets/layout/images/themes/saga-orange.png" alt="Saga Orange" title="Saga Orange"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('saga-purple', false)">
            <img src="../../../assets/layout/images/themes/saga-purple.png" alt="Saga Purple" title="Saga Purple"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('vela-blue', true)">
            <img src="../../../assets/layout/images/themes/vela-blue.png" alt="Vela Blue" title="Vela Blue"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('vela-green', true)">
            <img src="../../../assets/layout/images/themes/vela-green.png" alt="Vela Green" title="Vela Green"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('vela-orange', true)">
            <img src="../../../assets/layout/images/themes/vela-orange.png" alt="Vela Orange" title="Vela Orange"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('vela-purple', true)">
            <img src="../../../assets/layout/images/themes/vela-purple.png" alt="Vela Purple" title="Vela Purple"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('arya-blue', true)">
            <img src="../../../assets/layout/images/themes/arya-blue.png" alt="Arya Blue" title="Arya Blue"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('arya-green', true)">
            <img src="../../../assets/layout/images/themes/arya-green.png" alt="Arya Green" title="Arya Green"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('arya-orange', true)">
            <img src="../../../assets/layout/images/themes/arya-orange.png" alt="Arya Orange" title="Arya Orange"/>
          </button>
        </div>
        <div class="col-3 text-center">
          <button class="p-link" (click)="changeThemeFromAssets('arya-purple', true)">
            <img src="../../../assets/layout/images/themes/arya-purple.png" alt="Arya Purple" title="Arya Purple"/>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
