<blockquote class="blockquote">
  <h4>Store hierarchical data in <i>normalized</i> form.</h4>
  The basic concepts of normalizing data are:
  <ul>
    <li>Each type of data gets its own "table" in the state.</li>
    <li>Each "data table" should store the individual items in an object, with the IDs of the items as keys and the items themselves as the values.</li>
    <li>Any references to individual items should be done by storing the item's ID.</li>
    <li>Arrays of IDs should be used to indicate ordering.</li>
  </ul>

  <h4>Convert normalized data from store as hierarchical with selectors</h4>
  <ul>
  </ul>

</blockquote>

