<form [formGroup]="form" (ngSubmit)="onSubmit()" (appOnEscape)="onCancel()" style="height: 100%">
  <div class="p-fluid p-formgrid grid">
    <div class="field col-4">
      <label htmlFor="name">Name</label>
      <input pInputText id="name" type="text" [formControl]="name" placeholder="Name" autofocus/>
      <small id="name-help" class="p-error block">{{getFormControlErrorMessage(name)}}</small>
    </div>
    <div class="field col-4">
      <label htmlFor="email">Email</label>
      <input pInputText id="email" type="text" [formControl]="email" placeholder="Email"/>
      <small id="email-help" class="p-error block">{{getFormControlErrorMessage(email)}}</small>
    </div>
    <div class="field col-4">
      <label htmlFor="birth">Birth</label>
      <p-calendar [dateFormat]="dateFormat" inputId="birth" [formControl]="birth" appendTo="body"></p-calendar>
      <small id="birth-help" class="p-error block">{{getFormControlErrorMessage(birth)}}</small>
    </div>

  </div>
  <div class="p-fluid p-formgrid grid">
    <div class="field col-4" *ngIf="in.additionalInput.companies">
      <label htmlFor="company">Company</label>
      <p-dropdown id="company" [options]="in.additionalInput.companies" [formControl]="company" placeholder="Select a company" optionLabel="name" optionValue="id" [showClear]="true" appendTo="body"></p-dropdown>
    </div>
    <div class="field col-4" *ngIf="in.additionalInput.companies">
      <label htmlFor="employeeType">Employee Type</label>
      <p-dropdown id="employeeType" [options]="employeeTypes" [formControl]="employeeType" placeholder="Select employee type" optionLabel="key" optionValue="value" [showClear]="true" appendTo="body"></p-dropdown>
    </div>
    <div class="field col-4">
      <label htmlFor="email">Email</label>
      <input pInputText id="rank" type="number" [formControl]="rank" placeholder="Rank"/>
      <small id="rank-help" class="p-error block">{{getFormControlErrorMessage(rank)}}</small>
    </div>
  </div>
  <div class="field">
    <button pButton pRipple type="submit" class="p-button-success mr-2" [disabled]="!form.valid" label="OK"></button>
    <button pButton pRipple type="button" class="p-button-danger mr-2" label="Cancel" (click)="onCancel()"></button>
    <button pButton pRipple type="button" class="p-button-warning" label="Dump" (click)="onDump()"></button>
    <!--
    <button pButton pRipple type="button" class="p-button-warning" label="Populate date" (click)="onPopulate()"></button>
    <button pButton pRipple type="button" class="p-button-warning" label="Test" (click)="onTest()"></button>
    -->
  </div>
</form>


<!--
    <div class="modal-header">
      <h2>
        <span>{{isNew ? 'New' : 'Edit'}} Person</span>
      </h2>
      <button class="btn btn-warning pull-right" (click)="fillRandom()">Random</button>

    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" appFormFocus [focusDelayed]="true" (appOnEscape)="onCancel()" class="row g-3">
        <div class="col-4">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [formControl]="name" [ngClass]="{'is-invalid' : name.invalid}" placeholder="Name">
          <div class="invalid-feedback" *ngIf="name.invalid">{{getFormControlErrorMessage(name)}}</div>
        </div>
        <div class="col-4">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" [formControl]="email" [ngClass]="{'is-invalid' : email.invalid}" placeholder="Email">
          <div class="invalid-feedback" *ngIf="email.invalid">{{getFormControlErrorMessage(email)}}</div>
        </div>
        <div class="col-4" *ngIf="additional.companies">
          <label for="company">Company</label>
          <select class="form-select" id="company" [formControl]="company" [ngClass]="{'is-invalid' : company.invalid}" placeholder="Company">
            <option value="-1"></option>
            <option *ngFor="let c of additional.companies" value="{{c.id}}">{{c.name}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="true && company.invalid">{{getFormControlErrorMessage(company)}}</div>
        </div>

        <div class="col-4">
          <label for="employeeType">Employee Type</label>
          <select class="form-select" id="employeeType" [formControl]="employeeType" [ngClass]="{'is-invalid' : employeeType.invalid}" placeholder="Employee Type">
            <option *ngFor="let t of employeeTypes" [value]="t.value">{{t.key | employeeTypeFromString | employeeType}}</option>
          </select>
          <div class="invalid-feedback" *ngIf="true && employeeType.invalid">{{getFormControlErrorMessage(employeeType)}}</div>
        </div>
        <div class="col-4">
          <label for="birth">Birth</label>
          <input type="text" class="form-control" id="birth" [formControl]="birth" [ngClass]="{'is-invalid' : birth.invalid}"
             placeholder="Birth"
             bsDatepicker [bsConfig]="{ dateInputFormat: NGX_DATE_FORMAT, customTodayClass:'custom-today'}"
          >
          <div class="invalid-feedback" *ngIf="birth.errors">{{getFormControlErrorMessage(birth)}}</div>
        </div>
        <div class="col-4">
          <label for="rank">Rank</label>
          <input type="number" class="form-control" id="rank" [formControl]="rank" [ngClass]="{'is-invalid' : rank.invalid}" placeholder="Rank">
          <div class="invalid-feedback" *ngIf="rank.errors">{{getFormControlErrorMessage(rank)}}</div>
        </div>

        <div class="col-12">
          <label for="note">Note</label>
          <textarea class="form-control" id="note" [formControl]="note" [ngClass]="{'is-invalid' : note.invalid}" placeholder="Note" rows="3"></textarea>
          <div class="invalid-feedback" *ngIf="note.errors">{{getFormControlErrorMessage(note)}}</div>
        </div>

        <div class="form-group">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" [formControl]="active" id="active">
            <label class="form-check-label" for="active">Active</label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" [disabled]="!form.valid">OK</button>
          <button type="button" class="btn btn-danger mx-2" (click)="onCancel()">Cancel</button>
        </div>
      </form>
    </div>
    -->
