<div class="grid p-fluid">
  <div class="col-12 md:col-6">
    <div class="card">
      <h5>InputText</h5>
      <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Default" />
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Disabled" disabled />
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Invalid" class="ng-invalid ng-dirty" />
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
    <div class="col-12 xl:col-6">
      <div class="card w-full md:w-10 mx-auto grid formgrid">
        <form id="login-form" class="form" [formGroup]="form" (ngSubmit)="onLogin()" appFormFocus>
          <h5>Login</h5>
          <p>Sign In to your account</p>
          <div class="col-12 mb-2 lg:col-4 lg:mb-0">
            <span class="p-input-icon-left">
              <i class="pi pi-user"></i>
              <input pInputText type="text" placeholder="Username" />
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
-->

<!--

  <div class="d-flex align-items-center justify-content-center" style="height: 70vh; width: 100%">
  <div class="card-group">
    <div class="card p-4">
      <div class="card-body">
        <form id="login-form" class="form" [formGroup]="form" (ngSubmit)="onLogin()" appFormFocus>
          <h1>Login</h1>
          <p class="text-muted">Sign In to your account</p>

          <div class="input-group mb-3">
            <span class="input-group-text" id="lblUser"><i class="fa-solid fa-user"></i></span>
            <input type="text" class="form-control" [formControl]="username" [ngClass]="{'is-invalid' : username.invalid}" placeholder="Username" autocomplete="username" aria-label="Username" aria-describedby="lblUser" required>
            <div class="invalid-feedback" *ngIf="form.touched && username.invalid">{{getFormControlErrorMessage(username)}}</div>
          </div>
          <div class="input-group mb-4">
            <span class="input-group-text" id="lblPwd"><i class="fa-solid fa-key"></i></span>
            <input type="password" class="form-control" [formControl]="password" [ngClass]="{'is-invalid' : password.invalid}" placeholder="Password" autocomplete="current-password" aria-label="Password" aria-describedby="lblPwd" required>
            <div class="invalid-feedback" *ngIf="form.touched && password.invalid">{{getFormControlErrorMessage(password)}}</div>
          </div>
          <div class="row">
            <div class="col-6">
              <button type="submit" name="submit" class="btn btn-primary btn-md px-4" [disabled]="!form.valid">Login</button>
            </div>
          </div>
        </form>
        <small>(admin / admin)</small>
      </div>
    </div>
    <div class="card text-white py-5 d-md-down-none" style="width:44%">
      <div class="card-body text-center" style="display: flex; align-items: center; flex-wrap: wrap">
        <img src="assets/logo.png" class="center">
      </div>
    </div>
  </div>
</div>


<div class="container h-75">
  <div class="row h-75 justify-content-center align-items-center">
    <div class="col-md-11 mx-auto">
    </div>
  </div>
</div>
-->

<h2 *ngIf="authenticated$ | async" class="bg-success" style="text-align: center"><a [routerLink]="['/']">You are already authenticated: {{(currentAuth$ | async)?.name}}</a></h2>

