

<!--
<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
-->
    <div class="col-12 xl:col-6" style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
      <div class="h-full w-full m-0 py-7 px-4" style="border-radius: 53px; background: var(--surface-0)">

        <div class="grid">
          <!--
          <div class="col-5 flex2 align-items-center2 justify-content-center2">
          -->
          <div class="col-5">
            <!--
            <form id="login-form" class="form" [formGroup]="form" (ngSubmit)="onLogin()" appFormFocus>
            -->
              <div class="grid formgrid p-fluid2">
                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                  <input pInputText type="text" placeholder="Default" />
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                  <input pInputText type="text" placeholder="Disabled" disabled />
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-0">
                  <input pInputText type="text" placeholder="Invalid" class="ng-invalid ng-dirty" />
                </div>
              </div>
<!--
                <div class="p-input-icon-right p-float-label">
                  <input pInputText type="text" id="username" [formControl]="username" [ngClass]="{'is-invalid' : username.invalid}" autocomplete="username" required>
                  <i class="pi pi-user"></i>
                  <label for="username">Username</label>
                </div>
              </div>
              <div class="col-12 mb-3">
                <span class="p-float-label">
                  <p-password id="password" [formControl]="password" [ngClass]="{'is-invalid' : password.invalid}" autocomplete="current-password"  [toggleMask]="true" [feedback]="false" required></p-password>
                  <label for="password">Password</label>
                </span>
              </div>
              <div class="col-5 flex align-items-center justify-content-center">
                <p-button type="submit" label="Login" icon="pi pi-user-plus" styleClass="p-button-success" [disabled]="!form.valid"></p-button>
              </div>
              -->
            <!--
            </form>
            -->
            </div>
          </div>
          <div class="col-2">
            <p-divider layout="vertical"></p-divider>
          </div>
          <div class="col-5 flex align-items-center justify-content-center">
            <img src="assets/logo.png" alt="logo" />
          </div>

        <!--
        <div class="col-6">
          <div class="mb-5">
            <h3>Login</h3>
          </div>
          <div class="grid formgrid">
            <div class="col-12 mb-5">
              <span class="p-input-icon-right p-float-label">
                <input pInputText type="text" id="username"/>
                <i class="pi pi-user"></i>
                <label for="username">Username</label>
              </span>
            </div>
            <div class="col-12 mb-3">
            <span class="p-float-label">
              <p-password id="pwd2" [(ngModel)]="value4" [toggleMask]="true" [feedback]="false"></p-password>
              <label for="pwd2">Password</label>
            </span>
            </div>
            <p-divider></p-divider>
            <div class="flex justify-content-center">
              <img src="assets/logo.png" alt="logo" />
            </div>
          </div>
        </div>
        -->
      </div>
    </div>
<!--
  </div>
</div>
-->
<h2 *ngIf="authenticated$ | async" class="bg-success" style="text-align: center"><a [routerLink]="['/']">You are already authenticated: {{(currentAuth$ | async)?.name}}</a></h2>

