<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Birth</th>
    <th scope="col">EmpType</th>
    <th scope="col">Rank</th>
    <th scope="col">Active</th>
    <th scope="col">Note</th>
    <th scope="col">&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let p of persons">
    <td>{{p.id}}</td>
    <td>{{p.name}}</td>
    <td>{{p.email}}</td>
    <td>{{p.birth | date: dateFormat}}</td>
    <td>{{p.employeeType | employeeType}}</td>
    <td>{{p.rank}}</td>
    <td>
      <!--
      <i class="fas" [ngClass]="p.active ? 'fa-check' : 'fa-times'" [style.color]="p.active ? 'green' : 'red'" ></i>
      -->
      <i *ngIf="p.active" class="fas fa-check" style="color: green" ></i>
    </td>
    <td>
      <button type="button" class="btn btn-outline-primary" *ngIf="p.note"
              [popover]="p.note"
              triggers="mouseenter:mouseleave">
        <i class="far fa-eye"  popover="I will hide on blur" triggers="mouseenter:mouseleave"></i>
      </button>
    </td>
    <td>
      <button  class="btn btn-outline-primary mr-2" [routerLink]="['/person', p.id, 'edit']"><i class="fas fa-pen"></i></button>
      <button  class="btn btn-outline-primary mr-2" (click)="copy(p)"><i class="fas fa-copy"></i></button>
      <button  class="btn btn-outline-danger" (click)="delete(p)" [disabled]="deleting"><i class="fas fa-trash"></i></button>
  </tr>
</table>
<h5>Total: {{persons.length}}</h5>
