<div class="grid p-fluid">
  <div class="col-12 md:col-6">
    <div class="card">
      <h5>InputText</h5>
      <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Default" />
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Disabled" disabled />
        </div>
        <div class="col-12 mb-2 lg:col-4 lg:mb-0">
          <input pInputText type="text" placeholder="Invalid" class="ng-invalid ng-dirty" />
        </div>
      </div>
    </div>
  </div>
</div>
