<div class="devComponent">
  <p>
    <strong>Counter3: </strong>{{counter3 | async}}
  </p>

  <div class="card alert alert-info" title="Add random note">
    <div class="card-header nowrapped-truncated-text textCenter" role="button" (click)="addRandomNote()">
      <i class="fa fa-plus mr-1"></i>
      <i class="far fa-sticky-note"></i>
    </div>
  </div>

  <form [formGroup]="itemsForm" (ngSubmit)="onItemsSubmit()" class="mb-3">
    <div *ngFor="let n of (notes$ | async)" class="form-check mb-2" >
      <input class="form-check-input" type="checkbox" [formControlName]="n.id">
      <label class="form-check-label" [title]="n.message">{{n.label}}</label>
    </div>

    <button type="submit" class="btn btn-danger">Delete selected <i class="fas fa-trash"></i></button>
  </form>

  {{something}}
  <button class="btn btn-primary" (click)="triggerChangeDetection()">Change detection</button>
</div>
