<div class="devComponent">
  <p>
    <strong>Counter3: </strong>{{counter3 | async}}
  </p>

  <div class="card alert alert-info" title="Add random note">
    <div class="card-header nowrapped-truncated-text textCenter" role="button" (click)="addRandomNote()">
      <i class="fa fa-plus mr-1"></i>
      <i class="far fa-sticky-note"></i>
    </div>
  </div>

  <ul>
    <li *ngFor="let n of (notes$ | async)" [title]="n.message">{{n.label}} ti
  </ul>

  {{something}}
  <button class="btn btn-primary" (click)="triggerChangeDetection()">Change detection</button>
</div>
