<div class="modal-header">
  <h2 *ngIf="isNew">New Company</h2>
  <h2 *ngIf="!isNew">Edit Company[{{in?.id}}]</h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" appFormFocus [focusDelayed]="true" (appOnEscape)="onCancel()">
  <div class="modal-body">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [formControl]="name" [ngClass]="{'is-invalid' : name.invalid}" placeholder="Name">
        <div class="invalid-feedback" *ngIf="name.invalid">{{getFormControlErrorMessage(name)}}</div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="established">Established</label>
        <input type="text" class="form-control" id="established" [formControl]="established" [ngClass]="{'is-invalid' : established.invalid}" placeholder="Established" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
        <div class="invalid-feedback" *ngIf="established.errors">{{getFormControlErrorMessage(established)}}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 mb-3">
        <label for="note">Note</label>
        <textarea class="form-control" id="note" [formControl]="note" [ngClass]="{'is-invalid' : note.invalid}" placeholder="Note" rows="3"></textarea>
        <div class="invalid-feedback" *ngIf="note.errors">{{getFormControlErrorMessage(note)}}</div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [formControl]="active" id="active">
          <label class="form-check-label" for="active">Active</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-form-footer">
      <button type="submit" class="btn btn-primary mr-2" [disabled]="!form.valid">OK</button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</form>

