<h3>Zone: {{data?.id}}</h3>
<div class="drag-list" [dndDropzone]="dropZoneDummyVal" dndEffectAllowed="copyMove" (dndDrop)="onDrop($event)">

  <div dndPlaceholderRef class="drag-list-item dndPlaceholder"></div>

  <div *ngFor="let item of data?.items"
       class="alert alert-primary draggable" role="alert"
       [dndDraggable]="item"
       [dndEffectAllowed]="item.effectAllowed"
       [dndDisableIf]="item.disable"
       (dndStart)="onDragStart($event)"
       (dndCopied)="onDragged(item, 'copy')"
       (dndLinked)="onDragged(item,'link')"
       (dndMoved)="onDragged(item, 'move')"
       (dndCanceled)="onDragged(item,'none')"
       (dndEnd)="onDragEnd($event)">
    {{item.content}} [{{item.effectAllowed}}]
  </div>
</div>


