/* You can add global styles to this file, and also import other style files */

.btn.btn-rounded {
  border-radius: 50px
}

.modal-form-footer {
  justify-content: flex-start !important;
}

.nowrapped-truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
