<h3>Companies &amp; Persons</h3>
<p>
  <small><i>Drag &amp; Drop elements</i></small>
</p>
<div style="display: flex; flex-direction: column">
  <div style="flex: 1 1 100%">
    <app-company-item [companies]="companies$ | async" [handler]="handler" [companyEdit]="companyEdit" [personEdit]="personEdit"></app-company-item>
  </div>
  <hr>
  <div class="grid" style="flex: 1 1 auto">
    <div class="col-4">
      <p-panel>
        <p-button label="Submit" icon="pi pi-briefcase" (click)="addCompany()"></p-button>
      </p-panel>
    </div>
    <div class="col-4 flex justify-content-center align-items-center">
      <p-panel class="text-center text-red-500" style="flex: 1 1 100%" pDroppable="company" (onDrop)="handler.drop(COMPANY_ID_RUBBISH_BIN, dragDropActionEnum.Delete)">
        <i class="pi pi-trash text-lg"></i>
      </p-panel>
    </div>
  </div>
</div>

<app-company-edit-adapter #companyEdit [style]="{'overflow':'visible'}"></app-company-edit-adapter>
<app-person-edit-adapter #personEdit [style]="{'overflow':'visible'}"></app-person-edit-adapter>
