<div>
    <span class="float-lg-right"><small><i>
        [<app-value-refreshed-by-timer [interval]="refreshTime" value="{{getElapsedSecs()}}"></app-value-refreshed-by-timer> secs]
    </i></small></span>
  <span class="float-lg-right mr-2"><small>
      <!--
      ngx-moment is optimized: it sets refresh interval to unit to be displayed (first per seconds but later omly per minutes hours, ...)
      -->
    <!--
    -->
    Started: {{getElapsedSecs()}} seconds ago ({{started | amTimeAgo}})
    </small></span>
</div>
