<div>
  <div *ngFor="let ass3 of comps">
    <span>{{ass3.parent.name}}</span>
    <div>
        <span *ngif="valami">[{{ass3.parent.id}}] - {{ass3.parent.name}}</span>
    </div>
  </div>
</div>
<hr>
<!--
<div class="card-columns">
  <div class="card alert alert-secondary" *ngFor="let ass2 of (companies$ | async)"
     [ngClass]="getClassByCompany(ass2.parent.id)"
     [dndDropzone]="['person']"
     (dndDrop)="handler.onDrop(ass2.parent.id.toString(), $event)">

    <span>{{ass2.parent.name}}</span>
    <div class="card-header nowrapped-truncated-text">
      <ng-container *ngif="valami">
        <span>[{{ass2.parent.id}}] - {{ass2.parent.name}}</span>
      </ng-container>
    </div>
  </div>
</div>
<hr>
-->
<div class="card-columns">
  <div class="card alert alert-secondary" *ngFor="let ass of (companies$ | async)"
       [ngClass]="getClassByCompany(ass.parent.id)"
       [dndDropzone]="['person']"
       (dndDrop)="handler.onDrop(ass.parent.id.toString(), $event)">
      <div class="card-header nowrapped-truncated-text">
        <ng-container *ngif="valami">
          <span>[{{ass.parent.id}}] - {{ass.parent.name}}</span>
        </ng-container>
      </div>
    <!--
      <div *ngif="isTargetNormal(ass.parent.id)" class="card-header nowrapped-truncated-text">[{{ass.parent.id}}] - {{ass.parent.name}}</div>
      <div *ngif="isTargetRubbishBin(ass.parent.id)" class="card-header nowrapped-truncated-text"><i class="fa fa-trash"></i></div>
      <div *ngif="isTargetUnemployed(ass.parent.id)" class="card-header nowrapped-truncated-text"><i class="fal fa-user-hard-hat"></i></div>
      -->
      <div class="card-body">
        <div *ngFor="let p of ass.children"
             class="alert alert-light draggable" role="alert"
             [dndDraggable]="p"
             dndType="person"
             dndEffectAllowed="move"
             [dndDisableIf]="false"
             (dndStart)="handler.onDragStart(ass.parent.id.toString(), $event)"
             (dndMoved)="handler.onMoved(ass.parent.id.toString(), $event)">
          [{{p.id}}] - {{p.name}}
        </div>
      </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status" *ngIf="(loadingP$ | async) || (loadingC$ | async)">
    <span class="sr-only">Loading...</span>
  </div>
</div>

