<h3>
  <span>{{isNew ? 'New' : 'Edit'}} Company</span>
</h3>

<div class="p-fluid p-formgrid grid">
  <div class="field col-12 md:col-6">
    <label htmlFor="firstname2">Firstname</label>
    <input pInputText id="firstname2" type="text" />
  </div>
  <div class="field col-12 md:col-6">
    <label htmlFor="lastname2">Lastname</label>
    <input pInputText id="lastname2" type="text" />
  </div>
  <div class="field col-12">
    <label htmlFor="address">Address</label>
    <input pInputTextarea id="address" rows="4" />
  </div>
  <div class="field col-12 md:col-6">
    <label htmlFor="city">City</label>
    <input pInputText id="city" type="text" />
  </div>
  <div class="field col-12 md:col-3">
    <label htmlFor="zip">Zip</label>
    <input pInputText id="zip" type="text" />
  </div>

<!--
<h5>Vertical and Grid</h5>
<div class="formgrid grid">
  <div class="field col">
    <label for="firstname2">Firstname</label>
    <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
  <div class="field col">
    <label for="lastname2">Lastname</label>
    <input id="lastname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
  </div>
</div>


<h2>
  <span>{{isNew ? 'New' : 'Edit'}} Company</span>
</h2>
<button class="btn btn-warning pull-right" (click)="fillRandom()">Random</button>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" appFormFocus [focusDelayed]="true" (appOnEscape)="onCancel()" class="row g-3">
    <div class="col-6">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [formControl]="name" [ngClass]="{'is-invalid' : name.invalid}" placeholder="Name">
      <div class="invalid-feedback" *ngIf="name.invalid">{{getFormControlErrorMessage(name)}}</div>
    </div>
    <div class="col-4">
      <label for="established">Established</label>

      <input type="text" class="form-control" id="established" [formControl]="established" [ngClass]="{'is-invalid' : established.invalid}"
         placeholder="Established"
         bsDatepicker [bsConfig]="{ dateInputFormat: NGX_DATE_FORMAT, customTodayClass:'custom-today'}"
      >
      <div class="invalid-feedback" *ngIf="established.errors">{{getFormControlErrorMessage(established)}}</div>
    </div>

    <div class="col-12">
      <label for="note">Note</label>
      <textarea class="form-control" id="note" [formControl]="note" [ngClass]="{'is-invalid' : note.invalid}" placeholder="Note" rows="3"></textarea>
      <div class="invalid-feedback" *ngIf="note.errors">{{getFormControlErrorMessage(note)}}</div>
    </div>

    <div class="form-group">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" [formControl]="active" id="active">
        <label class="form-check-label" for="active">Active</label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">OK</button>
      <button type="button" class="btn btn-danger mx-2" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>

-->
