<form [formGroup]="form" (ngSubmit)="onSubmit()" appFormFocus [focusDelayed]="true" (appOnEscape)="onCancel()" style="height: 100%">
  <div class="p-fluid p-formgrid grid">
    <div class="field col-6">
      <label htmlFor="name">Name</label>
      <input pInputText id="name" type="text" [formControl]="name" placeholder="Name"/>
      <small id="name-help" class="p-error block">{{getFormControlErrorMessage(name)}}</small>
    </div>
    <!--
    -->
    <div class="field col-4">
      <label htmlFor="established">Established</label>
      <p-calendar [dateFormat]="dateFormat" inputId="established" [formControl]="established"></p-calendar>
      <small id="established-help" class="p-error block">{{getFormControlErrorMessage(established)}}</small>
    </div>
    <!--
    <div class="field col-4">
      <label htmlFor="created">Created</label>
      <p-calendar [dateFormat]="dateFormat" inputId="created" [formControl]="created"></p-calendar>
      <small id="created-help" class="p-error block">{{getFormControlErrorMessage(created)}}</small>
    </div>
    -->
  </div>
  <div class="p-formgrid grid">
    <div class="field col-12">
      <label class="form-check-label" htmlFor="note">Note</label>
      <textarea [rows]="5" inputId="note" style="width: 100%" pInputTextarea [formControl]="note"></textarea>
    </div>
  </div>

  <div class="field-checkbox">
    <p-checkbox [formControl]="active" inputId="active" [binary]="true"></p-checkbox>
    <label htmlFor="active">Active</label>
  </div>
  <div class="field">
    <button pButton pRipple type="submit" class="p-button-success mr-2" [disabled]="!form.valid" label="OK"></button>
    <button pButton pRipple type="button" class="p-button-danger" label="Cancel" (click)="onCancel()"></button>
    <button pButton pRipple type="button" class="p-button-warning" label="Populate date" (click)="onPopulate()"></button>
    <button pButton pRipple type="button" class="p-button-warning" label="Test" (click)="onTest()"></button>

  </div>
</form>


